* {
  margin: 0;
  padding: 0;
  font-family: consolas;
}

body {
  background: #000;
}

section {
  padding: 100px; 
}

section h2 {
  font-size: 3.5em;
  color: #555;
}

section p {
  font-size: 1.2em;
  color: #555;
}
