* {
  margin: 0;
  padding: 0;
  font-family: consolas;
}

body {
  background: #000;
}

section {
  padding: 100px; 
}

section h2 {
  font-size: 3.5em;
  color: #555;
}

section p {
  font-size: 1.2em;
  color: #555;
}

#preogressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
}