body {
  background: #262626;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 380px;
  background-color: rebeccapurple;
}

.swiper-slide .imgBox img {
  width: 100%;
}

.swiper-slide .imgBox {
  width: 100%;
  height: 380px;
  overflow: hidden;
}

.swiper-slide .details {
  box-sizing: border-box;
  padding: 10px 20px;
}

.swiper-slide .details h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.swiper-slide .details .power {
  display: flex;
  justify-content: space-between;
}

.swiper-slide .imgBox h3 .power span:nth-child(1) {
  color: rgb(4, 238, 4);
}
.swiper-slide .imgBox h3 .power span:nth-child(2) {
  color: rgb(22, 210, 243);
}

.swiper-slide .infinite span {
  font-size: 100px !important;
}