* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tenali Ramakrishna', sans-serif;
}

body {
  background: #262626;
}


section {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 140px 0;
}

img.icon-chibi {
  width: 48px;
  border-radius: 50%;
}

.card {
  position: relative;
  max-width: 300px;
  height: auto;
  border-radius: 15px;
  margin: 0 auto;
  padding: 40px 20px;
  box-shadow: 0 10px 15px rgba(255, 255, 255, .7);
  color: #fff;
  font-size: 18px;
  overflow: hidden;
  transition: .5;
}

.card:hover {
  transform: scale(1.1);
}

.container .card .title {
  text-align: center;
}

.fa-star {
  color: yellow
}

.col-sm-4:nth-child(1) .card {
  background: linear-gradient(-45deg, green, red)
}
.col-sm-4:nth-child(2) .card {
  background: linear-gradient(-45deg, yellow, green)
}
.col-sm-4:nth-child(3) .card {
  background: radial-gradient(red, orange)
}

.card:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45%;
  background: rgba(255, 255, 255, .1);
  transform: skewY(-5deg) scale(1.5);
}

.title h2 {
  position: relative;
  margin: 20px 0 0;
  padding: 0;
  font-size: 28px;
}

.price {
  position: relative;

}

.price h4 {
  margin: 0;
  padding: 20px 0;
  font-size: 70px;
}

.option {
  position: relative;
}

.option ul {
  margin: 0;
  padding: 0;
}

.option ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card a {
  position: relative;
  background: #fff;
  color: blue;
  border-radius: 40px;
  width: 150px;
  height: 40px;
  display: block;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  margin: 20px auto 0;
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
}
